dn: cn=foo server,ou=bar,ou=svr{{ facter_server_number }},o=domain,c=efgh
cn: foo
targetGroupCN: bar
objectClass: foo
objectClass: bar
includeDepartmentNumber: 1
includeDepartmentNumber: 3
includeDepartmentNumber: 31
includeDepartmentNumber: 41
